<!DOCTYPE html>
<html lang="en" style="background-color: #05001d;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>

</head>

<body style="padding: 50px; max-width: 600px; margin: 50px auto;background-color: #fff;">
    <div id="signature-code" style="max-width: 600px;">
        <table style="width: 600px; border-collapse: collapse;font-family: {{fontfamily}};">
            <tr>
                <td style="vertical-align: middle;">
                    <div>
                        {% if email is not none %}
                        <p style="color:{{ colorcode }}; margin: 0;"><strong>{{ company }}</strong></p>
                        {% endif %}
                        <br>
                        <h2 style="color:{{ colorcode }}; margin: 10px 0 0;">{{ name }}</h2>
                        <p style="margin: 0;">{{ title }}</p>
                    </div>
                    <br>
                    <div style="margin-top: 10px; display: flex; justify-content: space-between; width: 75%;">
                        {% if facebook is not none %}
                        <a href="{{ facebook }}">
                            <img src="https://i.postimg.cc/43P3kpJT/facebook-tiny.png" alt="Facebook"
                                style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};"></a>
                        </a>
                        {% endif %}
                        {% if instagram is not none %}
                        <a href="{{ instagram }}">
                            <img src="https://i.postimg.cc/rsmkcc0g/instagram.png" alt="Instagram"
                                style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};">
                        </a>
                        {% endif %}
                        {% if linkedin is not none %}
                        <a href="{{ linkedin }}" style="text-decoration: none;">
                            <img src="https://i.postimg.cc/bw657vKB/linkedin.png" alt="LinkedIn"
                                style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};"></a>
                        {% endif %}
                        {% if twitter is not none %}
                        <a href="{{ twitter }}" style="text-decoration: none;">
                            <img src="https://i.postimg.cc/3rCK0XM5/twitter.png" alt="Twitter"
                                style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};"></a>
                        {% endif %}
                    </div>
                </td>
                <td width="5px"></td>
                <td style="text-align: center; margin: auto; height: 200px; width: 150px;">
                    <div
                        style="display: flex; justify-content: center; align-items: center; height: 200px; width: 150px; background-image: linear-gradient(to bottom, {{ colorcode }}, #ffffff);">
                        {% if profile_image %}
                        <img src="https://i.postimg.cc/mg27xyzK/profile-pic.jpg" alt="Profile Image"
                            style="object-fit: cover; border-radius: 50%; border: 10px solid #fff; width: 125px; height: 125px;">
                        {% endif %}
                    </div>
                </td>
                <td style="width: 10px;"></td>
                <td style="vertical-align: middle;font-size: 14px;">
                    <br><br>
                    <table style="width: 100%;">
                        {% if phone is not none %}
                        <tr>
                            <td style="padding-right: 10px;">O: {{ phone }}</td>
                            <td rowspan="2" style="width: 30px; vertical-align: middle;">
                                <img src="https://i.postimg.cc/gJ4WfrJn/call.png" alt="Call"
                                    style="width: 25px;height: 25px; padding: 5px;border-radius: {{border_radius}}; background-color: {{ colorcode }};">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">M: {{ phone }}</td>
                        </tr>
                        {% endif %}
                        <tr></tr>
                        {% if email is not none %}
                        <tr>
                            <td style="padding-right: 10px;">{{ email }}</td>
                            <td style="width: 30px;">
                                <img src="https://i.postimg.cc/V6zwGXzx/email.png" alt="Email"
                                    style="width: 25px;height: 25px; padding: 5px;border-radius: {{border_radius}}; background-color: {{ colorcode }};">
                            </td>
                        </tr>
                        {% endif %}
                        <tr></tr>
                        {% if calendly is not none %}
                        <tr>
                            <td style="padding-right: 10px;"><a href="{{ calendly }}"
                                    style="color: #000; text-decoration: none;">{{ calendly }}</a></td>
                            <td style="width: 30px;">
                                <img src="https://i.postimg.cc/2SBCVzHK/calendar.png" alt="Calendar"
                                    style="width: 25px;height: 25px; padding: 5px;border-radius: {{border_radius}}; background-color: {{ colorcode }};">
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 20px; text-align: center;">
        <button
            style="margin-right: 10px; padding: 10px 20px; background-color: {{ colorcode }}; color: #fff; border: none; cursor: pointer;"
            onclick="copySignature()">Copy Signature</button>
        <button style="padding: 10px 20px; background-color: #0d72cb; color: #fff; border: none; cursor: pointer;"
            onclick="copyHtml()">Copy HTML Code</button>
        <button style="padding: 10px 20px; background-color: #328923; color: #fff; border: none; cursor: pointer;"
            onclick="downloadSignature()">Download Image</button>
        <button style="padding: 10px 20px; background-color: #414141; color: #fff; border: none; cursor: pointer;"
            onclick="history.back()">Back</button>
    </div>
    <textarea id="signature-html" style="display:none;">
        <div style="padding: 20px 0;">
            <table style="width: 600px; border-collapse: collapse;">
                <tr>
                    <td style="vertical-align: middle;">
                        <div>
                            <p style="color:{{ colorcode }}; margin: 0;"><strong>{{ company }}</strong></p>
                            <br>
                            <h2 style="color:{{ colorcode }}; margin: 10px 0 0;">{{ name }}</h2>
                            <p style="margin: 0;">{{ title }}</p>
                        </div>
                        <br>
                        <div style="margin-top: 10px; display: flex; justify-content: space-between; width: 75%;">
                            <a href="{{ facebook }}">
                                <img src="https://i.postimg.cc/43P3kpJT/facebook-tiny.png" alt="Facebook"
                                    style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};"></a>
                            </a>
                            <a href="{{ instagram }}">
                                <img src="https://i.postimg.cc/rsmkcc0g/instagram.png" alt="Instagram"
                                    style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};">
                            </a>
                            </a>
                            <a href="{{ linkedin }}" style="text-decoration: none;">
                                <img src="https://i.postimg.cc/bw657vKB/linkedin.png" alt="LinkedIn"
                                    style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};"></a>
                            <a href="{{ twitter }}" style="text-decoration: none;">
                                <img src="https://i.postimg.cc/3rCK0XM5/twitter.png" alt="Twitter"
                                    style="width: 20px;height: 20px; padding: 5px;border-radius: {{border_radius}}; margin-right: 10px;background-color: {{ colorcode }};"></a>
                        </div>
                    </td>
                    <td width="5px"></td>
                    <td style="text-align: center; margin: auto; height: 200px; width: 150px;">
                        <div
                            style="display: flex; justify-content: center; align-items: center; height: 200px; width: 150px; background-image: linear-gradient(to bottom, {{ colorcode }}, #ffffff);">
                            {% if profile_image %}
                            <img src="https://i.postimg.cc/mg27xyzK/profile-pic.jpg" alt="Profile Image"
                                style="object-fit: cover; border-radius: 50%; border: 10px solid #fff; width: 125px; height: 125px;">
                            {% endif %}
                        </div>
                    </td>
                    <td style="width: 10px;"></td>
                    <td style="vertical-align: middle;font-size: 14px;">
                        <br><br>
                        <table style="width: 100%;">
                            <tr>
                                <td style="padding-right: 10px;">O: {{ phone }}</td>
                                <td rowspan="2" style="width: 30px; vertical-align: middle;">
                                    <img src="https://i.postimg.cc/gJ4WfrJn/call.png" alt="Call"
                                    style="width: 25px;height: 25px; padding: 5px;border-radius: {{border_radius}}; background-color: {{ colorcode }};">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px;">M: {{ phone }}</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="padding-right: 10px;">{{ email }}</td>
                                <td style="width: 30px;">
                                    <img src="https://i.postimg.cc/V6zwGXzx/email.png" alt="Email"
                                    style="width: 25px;height: 25px; padding: 5px;border-radius: {{border_radius}}; background-color: {{ colorcode }};">
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="padding-right: 10px;"><a href="{{ calendly }}"
                                        style="color: #000; text-decoration: none;">{{ calendly }}</a></td>
                                <td style="width: 30px;">
                                    <img src="https://i.postimg.cc/2SBCVzHK/calendar.png" alt="Calendar"
                                        style="width: 25px;height: 25px; padding: 5px;border-radius: {{border_radius}}; background-color: {{ colorcode }};">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </textarea>
    <script>
        function copyHtml() {
            const signatureHtml = document.getElementById("signature-html");
            signatureHtml.style.display = "block";
            signatureHtml.select();
            document.execCommand("copy");
            signatureHtml.style.display = "none";
            alert("Signature HTML code copied to clipboard!");
        }

        function copySignature() {
            const signatureContainer = document.getElementById('signature-code');
            const range = document.createRange();
            range.selectNode(signatureContainer);
            const selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand("copy");
            selection.removeAllRanges();
            alert("Signature copied to clipboard!");
        }
        function downloadSignature() {
            const signatureContainer = document.getElementById('signature-code');

            html2canvas(signatureContainer, {
                allowTaint: true,
                useCORS: true
            }).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                const link = document.createElement('a');
                link.download
                    = 'signature.png';
                link.href = imgData;
                link.click();
            });
        }
    </script>
</body>

</html>